.ContainerMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #010B40;
}

.divise {
    width: 100%;
    height: 1px;
    border-radius: 10px;
}